In [1]:
import pandas as pd 
import numpy as np
import os

## Import CSV Files

In [2]:
# Account Info CSV - data for each appraisal account 
account_info = pd.read_csv("../DCAD/account_info.csv")
account_info.head()

C:\Users\mharv\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (5,13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ACCOUNT_NUM,APPRAISAL_YR,DIVISION_CD,BIZ_NAME,OWNER_NAME1,OWNER_NAME2,EXCLUDE_OWNER,OWNER_ADDRESS_LINE1,OWNER_ADDRESS_LINE2,OWNER_ADDRESS_LINE3,...,LEGAL1,LEGAL2,LEGAL3,LEGAL4,LEGAL5,DEED_TXFR_DATE,GIS_PARCEL_ID,PHONE_NUM,LMA,IMA
0,750516006400MRV02,2019,RES,NaN,MORVAN ERWIN & TINA,NaN,N,SPACE 064,14311 SKYFROST DR,NaN,...,OAKWOOD COVE MHP,SPACE 64 CLAYTON ALAMO,16X76 2000 S#CBH010029TX,CO-DALLAS,0516 064 00MRV 1DA0516 064,NaN,00881700000000000,NaN,UNASSIGNED,UNASSIGNED
1,750635002400PIC01,2019,RES,NaN,PALACIOS MAURICIO,NaN,N,SPACE 024,11526 C F HAWN FWY,NaN,...,ROYAL OAKS MHP,SPACE 24,14X66 1977 S#TX147639636D,CO-DALLAS,0635 024 00PIC 4DA0635 024,NaN,00000899346550000,NaN,UNASSIGNED,UNASSIGNED
2,00000663937000000,2019,RES,NaN,MARSHALL DONALD REEVES &,NaN,N,DIANE S MARSHALL,2124 LONGWOOD LN,NaN,...,FOREST OAKS NO 1,BLK B/7041 LT 27,LONGWOOD LN,VOL2003187/20599 DD09062003 CO-DC,7041 00B 02700 3DA7041 00B,09/18/2003,00000663937000000,NaN,UNASSIGNED,UNASSIGNED
3,00000665875000000,2019,RES,NaN,KEININGHAM JARROD H & LORENA C,NaN,N,NaN,8344 BANQUO DR,NaN,...,CLAREMONT 5TH INSTALLMENT,BLK 14/7060 LT 8,NaN,INT20080260853 DD08072008 CO-DC,7060 014 00800 3007060 014,08/11/2008,00000665875000000,NaN,UNASSIGNED,UNASSIGNED
4,00000666637000000,2019,RES,NaN,LIVELY DAVID S &,NaN,N,GLORIA A J T,8423 SWEETWATER DR,NaN,...,HILLRIDGE 1ST SECTION,BLK 9/7061 LT 24,NaN,VOL96242/3173 CO-DALLAS,7061 009 02400 3007061 009,12/12/1996,00000666637000000,NaN,UNASSIGNED,UNASSIGNED

In [3]:
# Residential Details CSV
res_detail = pd.read_csv("../DCAD/res_detail.csv")
res_detail.head()

C:\Users\mharv\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ACCOUNT_NUM,APPRAISAL_YR,TAX_OBJ_ID,BLDG_CLASS_DESC,YR_BUILT,EFF_YR_BUILT,ACT_AGE,DESIRABILITY_RATING,TOT_MAIN_SF,TOT_LIVING_AREA_SF,...,DECK_IND,SPA_IND,POOL_IND,SAUNA_IND,MBL_HOME_SER_NUM,MBL_HOME_MANUFCTR,MBL_HOME_LENGTH,MBL_HOME_WIDTH,MBL_HOME_SPACE,DEPRECIATION_PCT
0,00000165973000000,2019,00000165973000000,04,1922,1922,97,FAIR,1208,1208,...,N,N,N,N,NaN,NaN,0,0,,60.0
1,00000166189000000,2019,00000166189000000,04,1918,1918,101,FAIR,1176,1176,...,N,N,N,N,NaN,NaN,0,0,,60.0
2,00000125281000000,2019,00000125281000000,04,1927,1927,92,FAIR,1416,1416,...,N,N,N,N,NaN,NaN,0,0,,60.0
3,00000165358000000,2019,00000165358000000,04,1920,1920,99,FAIR,986,986,...,N,N,N,N,NaN,NaN,0,0,,60.0
4,00000136243100000,2019,00000136243100000,CONDOMINIUM,1980,1980,39,GOOD,1307,1307,...,N,N,N,N,NaN,NaN,0,0,,25.0

In [4]:
res_addl = pd.read_csv("../DCAD/res_addl.csv", encoding="cp1252")

res_addl.head()

,ACCOUNT_NUM,APPRAISAL_YR,TAX_OBJ_ID,SEQ_NUM,IMPR_TYP_DESC,IMPR_DESC,YR_BUILT,CONSTR_TYP_DESC,FLOOR_TYP_DESC,EXT_WALL_DESC,NUM_STORIES,AREA_SIZE,VAL_AMT,DEPRECIATION_PCT
0,00000147838000000,2019,00000147838000000,1,DETACHED GARAGE,NaN,2018,UNASSIGNED,UNASSIGNED,CONCRETE FIBERBOARD,0,572,20020.00,0.0
1,00000147841000000,2019,00000147841000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,CONCRETE,FRAME,0,600,1000.00,0.5
2,00000147979000000,2019,00000147979000000,0,ATTACHED GARAGE,NaN,9999,FR-FRAME,CONCRETE,UNASSIGNED,0,330,10235.33,0.1
3,00000147982000000,2019,00000147982000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,DIRT,UNASSIGNED,0,400,800.00,0.6
4,00000148012000000,2019,00000148012000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,DIRT,UNASSIGNED,0,200,300.00,0.6

## Merge CSV files into DataFrame

In [5]:
# Merge res_addl & res_detail on ACCOUNT_NUM
merge_one = pd.merge(res_addl, res_detail, on='ACCOUNT_NUM')
merge_one.head()

,ACCOUNT_NUM,APPRAISAL_YR_x,TAX_OBJ_ID_x,SEQ_NUM,IMPR_TYP_DESC,IMPR_DESC,YR_BUILT_x,CONSTR_TYP_DESC,FLOOR_TYP_DESC,EXT_WALL_DESC_x,...,DECK_IND,SPA_IND,POOL_IND,SAUNA_IND,MBL_HOME_SER_NUM,MBL_HOME_MANUFCTR,MBL_HOME_LENGTH,MBL_HOME_WIDTH,MBL_HOME_SPACE,DEPRECIATION_PCT_y
0,00000147838000000,2019,00000147838000000,1,DETACHED GARAGE,NaN,2018,UNASSIGNED,UNASSIGNED,CONCRETE FIBERBOARD,...,N,N,N,N,NaN,NaN,0,0,,0.0
1,00000147841000000,2019,00000147841000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,CONCRETE,FRAME,...,N,N,N,N,NaN,NaN,0,0,,50.0
2,00000147979000000,2019,00000147979000000,0,ATTACHED GARAGE,NaN,9999,FR-FRAME,CONCRETE,UNASSIGNED,...,N,N,N,N,NaN,NaN,0,0,,10.0
3,00000147982000000,2019,00000147982000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,DIRT,UNASSIGNED,...,N,N,N,N,NaN,NaN,0,0,,60.0
4,00000148012000000,2019,00000148012000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,DIRT,UNASSIGNED,...,N,N,N,N,NaN,NaN,0,0,,60.0

In [6]:
# Clean merge_one Columns 
merge_one.columns

Index(['ACCOUNT_NUM', 'APPRAISAL_YR_x', 'TAX_OBJ_ID_x', 'SEQ_NUM',
       'IMPR_TYP_DESC', 'IMPR_DESC', 'YR_BUILT_x', 'CONSTR_TYP_DESC',
       'FLOOR_TYP_DESC', 'EXT_WALL_DESC_x', 'NUM_STORIES', 'AREA_SIZE',
       'VAL_AMT', 'DEPRECIATION_PCT_x', 'APPRAISAL_YR_y', 'TAX_OBJ_ID_y',
       'BLDG_CLASS_DESC', 'YR_BUILT_y', 'EFF_YR_BUILT', 'ACT_AGE',
       'DESIRABILITY_RATING', 'TOT_MAIN_SF', 'TOT_LIVING_AREA_SF',
       'PCT_COMPLETE', 'NUM_STORIES_DESC', 'CONSTR_FRAM_TYP_DESC',
       'FOUNDATION_TYP_DESC', 'HEATING_TYP_DESC', 'AC_TYP_DESC',
       'FENCE_TYP_DESC', 'EXT_WALL_DESC_y', 'BASEMENT_DESC', 'ROOF_TYP_DESC',
       'ROOF_MAT_DESC', 'NUM_FIREPLACES', 'NUM_KITCHENS', 'NUM_FULL_BATHS',
       'NUM_HALF_BATHS', 'NUM_WET_BARS', 'NUM_BEDROOMS', 'SPRINKLER_SYS_IND',
       'DECK_IND', 'SPA_IND', 'POOL_IND', 'SAUNA_IND', 'MBL_HOME_SER_NUM',
       'MBL_HOME_MANUFCTR', 'MBL_HOME_LENGTH', 'MBL_HOME_WIDTH',
       'MBL_HOME_SPACE', 'DEPRECIATION_PCT_y'],
      dtype='object')

In [7]:
# Rename columns so that they are differentiated
merge_one = merge_one.rename(columns={"APPRAISAL_YR_x": "APPRAISAL_YR", "TAX_OBJ_ID_x": "TAX_OBJ_ID", "YR_BUILT_x": "YR_BUILT",
                                      "EXT_WALL_DESC_x": "EXT_WALL_DESC", "DEPRECIATION_PCT_x": "DEPRECIATION_PCT"})

merge_one = merge_one.rename(columns={"APPRAISAL_YR_y": "APPRAISAL_YR", "TAX_OBJ_ID_y": "TAX_OBJ_ID", "YR_BUILT_y": "YR_BUILT",
                                      "EXT_WALL_DESC_y": "EXT_WALL_DESC", "DEPRECIATION_PCT_y": "DEPRECIATION_PCT"})

merge_one.head()

,ACCOUNT_NUM,APPRAISAL_YR,TAX_OBJ_ID,SEQ_NUM,IMPR_TYP_DESC,IMPR_DESC,YR_BUILT,CONSTR_TYP_DESC,FLOOR_TYP_DESC,EXT_WALL_DESC,...,DECK_IND,SPA_IND,POOL_IND,SAUNA_IND,MBL_HOME_SER_NUM,MBL_HOME_MANUFCTR,MBL_HOME_LENGTH,MBL_HOME_WIDTH,MBL_HOME_SPACE,DEPRECIATION_PCT
0,00000147838000000,2019,00000147838000000,1,DETACHED GARAGE,NaN,2018,UNASSIGNED,UNASSIGNED,CONCRETE FIBERBOARD,...,N,N,N,N,NaN,NaN,0,0,,0.0
1,00000147841000000,2019,00000147841000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,CONCRETE,FRAME,...,N,N,N,N,NaN,NaN,0,0,,50.0
2,00000147979000000,2019,00000147979000000,0,ATTACHED GARAGE,NaN,9999,FR-FRAME,CONCRETE,UNASSIGNED,...,N,N,N,N,NaN,NaN,0,0,,10.0
3,00000147982000000,2019,00000147982000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,DIRT,UNASSIGNED,...,N,N,N,N,NaN,NaN,0,0,,60.0
4,00000148012000000,2019,00000148012000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,DIRT,UNASSIGNED,...,N,N,N,N,NaN,NaN,0,0,,60.0

In [8]:
# Merge merge_one & account_info in DataFrame 
final_df = pd.merge(merge_one, account_info, on='ACCOUNT_NUM')
final_df.head()

,ACCOUNT_NUM,APPRAISAL_YR_x,TAX_OBJ_ID,SEQ_NUM,IMPR_TYP_DESC,IMPR_DESC,YR_BUILT,CONSTR_TYP_DESC,FLOOR_TYP_DESC,EXT_WALL_DESC,...,LEGAL1,LEGAL2,LEGAL3,LEGAL4,LEGAL5,DEED_TXFR_DATE,GIS_PARCEL_ID,PHONE_NUM,LMA,IMA
0,00000147838000000,2019,00000147838000000,1,DETACHED GARAGE,NaN,2018,UNASSIGNED,UNASSIGNED,CONCRETE FIBERBOARD,...,EDGEWOOD,BLK 11/1297 35' LOT 5 & 25' LOT 6,NaN,INT201900107815 DD04262019 CO-DC,1297 011 00500 1DA1297 011,04/29/2019,00000147838000000,NaN,UNASSIGNED,UNASSIGNED
1,00000147841000000,2019,00000147841000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,CONCRETE,FRAME,...,EDGEWOOD,BLK 11/1297 LT 7 & 1/2 LT 6,SOUTH BLVD & EDGEWOOD,INT201800198616 DD01012018 CO-DC,1297 011 00600 1DA1297 011,07/25/2018,00000147841000000,NaN,UNASSIGNED,UNASSIGNED
2,00000147979000000,2019,00000147979000000,0,ATTACHED GARAGE,NaN,9999,FR-FRAME,CONCRETE,UNASSIGNED,...,SOUTH PARK,BLK 24/1304 LOTS 13 & 14,NaN,INT201900121401 DD05092019 CO-DC,1304 024 01300 1DA1304 024,05/13/2019,00000147979000000,NaN,UNASSIGNED,UNASSIGNED
3,00000147982000000,2019,00000147982000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,DIRT,UNASSIGNED,...,SOUTH PARK,BLK 24/1304 LTS 15 & 16,NaN,VOL94165/0595 DD082594 CO-DALLAS,1304 024 01500 1DA1304 024,08/26/1994,00000147982000000,NaN,UNASSIGNED,UNASSIGNED
4,00000148012000000,2019,00000148012000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,DIRT,UNASSIGNED,...,SOUTH PARK,BLK 24/1304 LOTS 35 & 36 LESS,300 SQ FT,INT201700038441 DD02022017 CO-DC,1304 024 03500 1DA1304 024,02/08/2017,00000148012000000,NaN,UNASSIGNED,UNASSIGNED

In [9]:
# Clean final_df Columns 
final_df.columns

Index(['ACCOUNT_NUM', 'APPRAISAL_YR_x', 'TAX_OBJ_ID', 'SEQ_NUM',
       'IMPR_TYP_DESC', 'IMPR_DESC', 'YR_BUILT', 'CONSTR_TYP_DESC',
       'FLOOR_TYP_DESC', 'EXT_WALL_DESC', 'NUM_STORIES', 'AREA_SIZE',
       'VAL_AMT', 'DEPRECIATION_PCT', 'APPRAISAL_YR_x', 'TAX_OBJ_ID',
       'BLDG_CLASS_DESC', 'YR_BUILT', 'EFF_YR_BUILT', 'ACT_AGE',
       'DESIRABILITY_RATING', 'TOT_MAIN_SF', 'TOT_LIVING_AREA_SF',
       'PCT_COMPLETE', 'NUM_STORIES_DESC', 'CONSTR_FRAM_TYP_DESC',
       'FOUNDATION_TYP_DESC', 'HEATING_TYP_DESC', 'AC_TYP_DESC',
       'FENCE_TYP_DESC', 'EXT_WALL_DESC', 'BASEMENT_DESC', 'ROOF_TYP_DESC',
       'ROOF_MAT_DESC', 'NUM_FIREPLACES', 'NUM_KITCHENS', 'NUM_FULL_BATHS',
       'NUM_HALF_BATHS', 'NUM_WET_BARS', 'NUM_BEDROOMS', 'SPRINKLER_SYS_IND',
       'DECK_IND', 'SPA_IND', 'POOL_IND', 'SAUNA_IND', 'MBL_HOME_SER_NUM',
       'MBL_HOME_MANUFCTR', 'MBL_HOME_LENGTH', 'MBL_HOME_WIDTH',
       'MBL_HOME_SPACE', 'DEPRECIATION_PCT', 'APPRAISAL_YR_y', 'DIVISION_CD',
       'BIZ_NAME', 'OWNER_NAME1', 'OWNER_NAME2', 'EXCLUDE_OWNER',
       'OWNER_ADDRESS_LINE1', 'OWNER_ADDRESS_LINE2', 'OWNER_ADDRESS_LINE3',
       'OWNER_ADDRESS_LINE4', 'OWNER_CITY', 'OWNER_STATE', 'OWNER_ZIPCODE',
       'OWNER_COUNTRY', 'STREET_NUM', 'STREET_HALF_NUM', 'FULL_STREET_NAME',
       'BLDG_ID', 'UNIT_ID', 'PROPERTY_CITY', 'PROPERTY_ZIPCODE', 'MAPSCO',
       'NBHD_CD', 'LEGAL1', 'LEGAL2', 'LEGAL3', 'LEGAL4', 'LEGAL5',
       'DEED_TXFR_DATE', 'GIS_PARCEL_ID', 'PHONE_NUM', 'LMA', 'IMA'],
      dtype='object')

In [10]:
# Rename columns so that they are differentiated
final_df = final_df.rename(columns={"APPRAISAL_YR_x": "APPRAISAL_YR"})

final_df = final_df.rename(columns={"APPRAISAL_YR_y": "APPRAISAL_YR"})

final_df.head()

,ACCOUNT_NUM,APPRAISAL_YR,TAX_OBJ_ID,SEQ_NUM,IMPR_TYP_DESC,IMPR_DESC,YR_BUILT,CONSTR_TYP_DESC,FLOOR_TYP_DESC,EXT_WALL_DESC,...,LEGAL1,LEGAL2,LEGAL3,LEGAL4,LEGAL5,DEED_TXFR_DATE,GIS_PARCEL_ID,PHONE_NUM,LMA,IMA
0,00000147838000000,2019,00000147838000000,1,DETACHED GARAGE,NaN,2018,UNASSIGNED,UNASSIGNED,CONCRETE FIBERBOARD,...,EDGEWOOD,BLK 11/1297 35' LOT 5 & 25' LOT 6,NaN,INT201900107815 DD04262019 CO-DC,1297 011 00500 1DA1297 011,04/29/2019,00000147838000000,NaN,UNASSIGNED,UNASSIGNED
1,00000147841000000,2019,00000147841000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,CONCRETE,FRAME,...,EDGEWOOD,BLK 11/1297 LT 7 & 1/2 LT 6,SOUTH BLVD & EDGEWOOD,INT201800198616 DD01012018 CO-DC,1297 011 00600 1DA1297 011,07/25/2018,00000147841000000,NaN,UNASSIGNED,UNASSIGNED
2,00000147979000000,2019,00000147979000000,0,ATTACHED GARAGE,NaN,9999,FR-FRAME,CONCRETE,UNASSIGNED,...,SOUTH PARK,BLK 24/1304 LOTS 13 & 14,NaN,INT201900121401 DD05092019 CO-DC,1304 024 01300 1DA1304 024,05/13/2019,00000147979000000,NaN,UNASSIGNED,UNASSIGNED
3,00000147982000000,2019,00000147982000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,DIRT,UNASSIGNED,...,SOUTH PARK,BLK 24/1304 LTS 15 & 16,NaN,VOL94165/0595 DD082594 CO-DALLAS,1304 024 01500 1DA1304 024,08/26/1994,00000147982000000,NaN,UNASSIGNED,UNASSIGNED
4,00000148012000000,2019,00000148012000000,1,DETACHED GARAGE,GARAGE,1000,FR-FRAME,DIRT,UNASSIGNED,...,SOUTH PARK,BLK 24/1304 LOTS 35 & 36 LESS,300 SQ FT,INT201700038441 DD02022017 CO-DC,1304 024 03500 1DA1304 024,02/08/2017,00000148012000000,NaN,UNASSIGNED,UNASSIGNED

In [11]:
# Check columns 
final_df.columns

Index(['ACCOUNT_NUM', 'APPRAISAL_YR', 'TAX_OBJ_ID', 'SEQ_NUM', 'IMPR_TYP_DESC',
       'IMPR_DESC', 'YR_BUILT', 'CONSTR_TYP_DESC', 'FLOOR_TYP_DESC',
       'EXT_WALL_DESC', 'NUM_STORIES', 'AREA_SIZE', 'VAL_AMT',
       'DEPRECIATION_PCT', 'APPRAISAL_YR', 'TAX_OBJ_ID', 'BLDG_CLASS_DESC',
       'YR_BUILT', 'EFF_YR_BUILT', 'ACT_AGE', 'DESIRABILITY_RATING',
       'TOT_MAIN_SF', 'TOT_LIVING_AREA_SF', 'PCT_COMPLETE', 'NUM_STORIES_DESC',
       'CONSTR_FRAM_TYP_DESC', 'FOUNDATION_TYP_DESC', 'HEATING_TYP_DESC',
       'AC_TYP_DESC', 'FENCE_TYP_DESC', 'EXT_WALL_DESC', 'BASEMENT_DESC',
       'ROOF_TYP_DESC', 'ROOF_MAT_DESC', 'NUM_FIREPLACES', 'NUM_KITCHENS',
       'NUM_FULL_BATHS', 'NUM_HALF_BATHS', 'NUM_WET_BARS', 'NUM_BEDROOMS',
       'SPRINKLER_SYS_IND', 'DECK_IND', 'SPA_IND', 'POOL_IND', 'SAUNA_IND',
       'MBL_HOME_SER_NUM', 'MBL_HOME_MANUFCTR', 'MBL_HOME_LENGTH',
       'MBL_HOME_WIDTH', 'MBL_HOME_SPACE', 'DEPRECIATION_PCT', 'APPRAISAL_YR',
       'DIVISION_CD', 'BIZ_NAME', 'OWNER_NAME1', 'OWNER_NAME2',
       'EXCLUDE_OWNER', 'OWNER_ADDRESS_LINE1', 'OWNER_ADDRESS_LINE2',
       'OWNER_ADDRESS_LINE3', 'OWNER_ADDRESS_LINE4', 'OWNER_CITY',
       'OWNER_STATE', 'OWNER_ZIPCODE', 'OWNER_COUNTRY', 'STREET_NUM',
       'STREET_HALF_NUM', 'FULL_STREET_NAME', 'BLDG_ID', 'UNIT_ID',
       'PROPERTY_CITY', 'PROPERTY_ZIPCODE', 'MAPSCO', 'NBHD_CD', 'LEGAL1',
       'LEGAL2', 'LEGAL3', 'LEGAL4', 'LEGAL5', 'DEED_TXFR_DATE',
       'GIS_PARCEL_ID', 'PHONE_NUM', 'LMA', 'IMA'],
      dtype='object')

In [12]:
final_df.describe()

,APPRAISAL_YR,SEQ_NUM,YR_BUILT,NUM_STORIES,AREA_SIZE,VAL_AMT,DEPRECIATION_PCT,APPRAISAL_YR,YR_BUILT,EFF_YR_BUILT,...,NUM_WET_BARS,NUM_BEDROOMS,MBL_HOME_LENGTH,MBL_HOME_WIDTH,DEPRECIATION_PCT,APPRAISAL_YR,OWNER_ADDRESS_LINE4,STREET_NUM,PROPERTY_ZIPCODE,PHONE_NUM
count,750245.0,750245.000000,750245.000000,750245.000000,750245.000000,7.502450e+05,750245.000000,750245.0,750245.000000,750245.000000,...,750245.000000,750245.000000,750245.000000,750245.000000,750245.000000,750245.0,0.0,750245.000000,7.493370e+05,5.000000e+00
mean,2019.0,1.468002,1816.092302,0.001426,436.341310,1.059587e+04,0.262748,2019.0,1970.914073,1951.253634,...,0.135105,3.160097,0.724638,0.192673,36.236372,2019.0,NaN,3631.022007,7.379910e+08,3.665183e+09
std,0.0,1.003072,2430.726345,0.047412,1642.766883,1.953102e+04,0.207258,0.0,88.367821,221.113079,...,0.394430,1.028572,6.915226,1.907100,16.243042,0.0,NaN,3486.259433,9.969280e+07,3.389446e+09
min,2019.0,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,2019.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2019.0,NaN,1.000000,7.500100e+04,2.149059e+09
25%,2019.0,1.000000,1000.000000,0.000000,240.000000,3.330000e+03,0.010000,2019.0,1958.000000,1959.000000,...,0.000000,3.000000,0.000000,0.000000,25.000000,2019.0,NaN,1105.000000,7.506049e+08,2.149483e+09
50%,2019.0,1.000000,1000.000000,0.000000,400.000000,1.000000e+04,0.300000,2019.0,1974.000000,1976.000000,...,0.000000,3.000000,0.000000,0.000000,40.000000,2019.0,NaN,2603.000000,7.515011e+08,2.149483e+09
75%,2019.0,2.000000,1000.000000,0.000000,475.000000,1.379851e+04,0.450000,2019.0,1992.000000,1993.000000,...,0.000000,4.000000,0.000000,0.000000,50.000000,2019.0,NaN,5306.000000,7.522050e+08,2.149483e+09
max,2019.0,24.000000,9999.000000,5.000000,440000.000000,5.000000e+06,1.000000,2019.0,2019.000000,2019.000000,...,59.000000,21.000000,80.000000,36.000000,90.000000,2019.0,NaN,900000.000000,7.528774e+08,9.728408e+09

In [13]:
# Export to CSV
final_df.to_csv('Appraisal_Data.csv', index=False)

## This data is now ready to be transformed
Suggestions: 
* updated YR_BUILT Column and only use dates between 1800 thru 2019
* (other suggestions welcome)